/ServidorCcalc/ServidorCcalc/.idea/workspace.xml

ServidorCcalc/ServidorCcalc/out/production/ServidorCcalc/servidorccalc/ImageConverter\.class

ServidorCcalc/ServidorCcalc/out/production/ServidorCcalc/servidorccalc/ServidorCcalc\$EscoltaConnexio\.class

ServidorCcalc/ServidorCcalc/out/production/ServidorCcalc/servidorccalc/ServidorCcalc\$Monitor\.class

ServidorCcalc/ServidorCcalc/out/production/ServidorCcalc/servidorccalc/ServidorCcalc\.class

ServidorCcalc/ServidorCcalc/out/production/ServidorCcalc/servidorccalc/sendPost\.class
